body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  .item {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  